doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet")
    link(href='/css/base.css', rel='stylesheet')
    meta(name='appname' content='Authentic8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block heads
  body
    header
      #head_bar
        .title Authentic8
        ul
          li Login
          li register
    .container
      block content
    footer
      h3 &copy; Rohan Mishra.
      h4 Authentic8 v#{version}.
      if env = 'development'
        p.env_mode development environment.
